@section scripts{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/app/Scripts/bookService.js"></script>
    <script src="~/app/Scripts/customBookService.js"></script>
    <script src="~/app/Scripts/ListController.js"></script>
    <script src="~/app/Scripts/DetailsController.js"></script>
}
<div>
    <h1>BookService</h1>
</div>
<div ng-app="bookService">
    <ng-view></ng-view>
</div>